<div class="keyboard">
  <button>7</button>
  <button>8</button>
  <button>9</button>
  <button class="btn-green smaller-text">DEL</button>
  
  <button>4</button>
  <button>5</button>
  <button>6</button>
  <button>+</button>
  
  <button>1</button>
  <button>2</button>
  <button>3</button>
  <button>-</button>
  
  <button>.</button>
  <button>0</button>
  <button>/</button>
  <button>x</button>
  
  <button id="btn-reset" class="btn-green smaller-text">RESET</button>
  <button id="btn-equal" class="btn-red smaller-text">=</button>
</div>