.monitor {
  font-size: 3rem;
  padding: 1rem 1rem 1.5rem 1rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-radius: 0.5rem;
}

@media (prefers-color-scheme: light) {
  .monitor {
    background-color: #eeeeee;
  }
}

@media (prefers-color-scheme: dark) {
  .monitor {
    background-color: #181f32;
  }
}
